.page-header
  %h2 Регистрация наблюдателем на выборах президента Украины 25 мая 2013 года
= render :partial => "form"
-if AppConfig["captcha_enabled"]
  %script{type: "text/javascript", src: "http://www.google.com/recaptcha/api/js/recaptcha_ajax.js"}

